{# app/Resources/views/Blog/index.html.twig #}
{% extends "AppBundle::layout.html.twig" %}

{% block h1 %}Customers found{% endblock %}

{% block title %}Customers found{% endblock %}

{% block body %}
    <div class="row">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>
                            <a href="{{ path('customer_found', {'cid': customer.id, 'orderId': orderId}) }}">Select</a>
                        </td>
                        <td>{{ customer.firstName }}</td>
                        <td>{{ customer.lastName }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phoneNumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}